<%= form_with(model: @comment, url: user_post_comments_path(@user, @post), local: true, html: { class: "comment-form" }) do |f| %>
  <div class="form-field">
    <%= f.label :Text, class: "form-label" %>
    <%= f.text_area :Text, rows: 3, class: "form-textarea" %>
  </div>
  <div class="form-submit">
    <%= f.submit "Add Comment", class: "submit-button" %>
  </div>
<% end %>
